# DO NOT CHANGE THE CONTENT OF THIS FILE UNLESS YOU KNOW WHAT YOU ARE DOING!!!
# IF ERROR OCCURS BECAUSE OF THIS FILE, SIMPLY DELETE THIS FILE THEN RUN THE APPLICATION TO RESET TO DEFAULT SETTINGS

# Analysis settings parameters
self.x_threshold = 60.0
self.y_threshold = 60.0
self.z_threshold = 60.0
self.main_direction_threshold = 5

# Plot settings parameters
self.dpi = 60
